.header {
    position: absolute;
    width: 100%;
    top: 40px;
    left: 0px;
    right: 0;
    z-index: 15;
    &-inner { 
        display: flex; 
        justify-content: space-between;
        align-items: center;
    }
}
.navigation {
	padding-left: 130px;
	ul {
		display: flex;
	}
	li {
		padding-right: 27px;
	}
    &__link {
	    color:$white;
	    font-size: 16px;
            &:hover {
	            color:$brown;
            }
    }
}
.search {
    display: flex;
    flex-flow: row nowrap;
    &__icon {
        padding: 0 10px;
    }
}
