$font_color: #8c8c8c;
$dark: #555;
$light_line: #f1eee9;
$brown: #c7b299;
$white: #fff;
$gray_bg: #fbfaf8;
$brown_bg:#998675;
$dark_bg: #362f2d;
$black_bg: #191919;
$grey_br: #d1d1d1;
$grey_txt: #959595;
$dark_dt: #252525;
$black_dt: #363636;
$gray_slider: #a2a19f;

