.project_post {
    & .title-30 {
        padding-top: 70px;
        margin: 0 0 20px;
        @include media(800) {
           padding-top: 20px;
           margin: 0 0 10px;
        }
    }
    & .text {
        font-size: 14px;
        line-height: 24px;  
    }
    .slider__post {
        margin-bottom: 20px;
        & .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @include media(800) {
               margin-bottom: 30px; 
            }  
            @include media(480) {
                justify-content: center;
            }  
            & .post__item {
                width: calc(33.3% - 30px);
                flex-shrink: 0;
                max-width: 370px;
                max-height: 400px;
                margin-bottom: 40px;
                position: relative;
                @include media(800) {
                    width: calc(36.3% - 30px);
                    margin: 0;
                } 
                @include media(480) {
                    width: 100%;
                    margin-bottom: 10px;
                }
                & .post__img {
                    & img {
                        max-width: 370px;
                        max-height: 220px;
                        width: 100%;  
                        height: fit-content;
                        display: block;                           
                    }
                    & .post__data {
                        position: absolute;
                        color: $white;
                        margin: 20px;
                        & h6 {
                            font-size: 24px;
                            padding: 3px 10px 7px;   
                            background: $black_dt;
                            border-radius: 7px 7px 0px 0px;
                        }
                        & p {
                            font-size: 11px;
                            padding: 7px 10px 5px;
                            background: $dark_dt;
                            border-radius: 0px 0px 7px 7px;
                            text-align: center;
                        }
                    } 
                }       
                & .post__inner {
                    padding: 20px 10px 20px;
                    & .post__title {
                        color: $dark;
                        font-size: 20px;
                        font-family: 'Raleway';
                        font-weight: 500;
                        padding-bottom: 20px; 
                        @include media(800) {
                            padding-bottom: 10px;
                        }   
                    }
                    & .post__text {
                        color: $font_color;
                        font-size: 16px;
                        font-family: 'Montserrat';
                        padding-bottom: 30px;
                        @include media(800) {
                           padding-bottom: 10px;
                        }
                    }
                    & .button {
                        color: $brown;
                        border: 0;
                        background: $white;
                        font-family: 'Montserrat';
                        font-size: 14px;
                        .arrow {
                            border: 5px solid transparent;
                            border-left-color: $brown;
                            display: inline-block;
                        }
                    }
                } 
                &:hover {
                    background-color: $dark_bg;
                    opacity: 1;
                    position: relative;
                    .post__img { 
                        opacity: 0.7;
                    }
                    .post__data {
                        position: absolute;
                        color: $white;
                        & h6 {  
                            background: $brown;
                        }
                        & p {
                            background: #a48d72;
                        }
                    }
                    .post__inner {
                        background-color: $dark_bg;
                        .post__title {
                            color: $brown;
                        }
                        .post__text {
                            color: $white;
                        }
                        .button {
                            background: $dark_bg;
                        }
                    }   
                }
            } 
        }
        .button__arrow {
            display: flex;
            justify-content: center;
            @include media(600) {
                margin-top: 40px;
            }
            @include media(480) {
                margin: 0;
            }
        }
        .slider__prev {
            border: 2px solid $grey_br;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            position: static;
            margin: 20px 10px;
            @include media(480) {
                margin: 0 10px;
            }
            &:hover {
                border: 2px solid $brown;
                color: $brown;
            }
        }
        .slider__next {
            border: 2px solid $grey_br;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            position: static;
            margin: 20px 10px;
            @include media(480) {
                margin: 0 10px;
            }
            &:hover {
                border: 2px solid $brown;
                color: $brown;
            }
        }  
        .swiper-button-next::after,
        .swiper-button-prev::after {
            font-size: 11px;
        }
    }
}


