.projects {
    padding: 75px 0 80px;
    @include media(800) {
        padding: 20px 0 60px;
    }
    &__tabs {
        .tabs__caption {
            display:flex;
            align-items: center;
            justify-content: center;
            @include media(800) {
                flex-wrap: wrap;
            }
            @include media(480) {
                flex-direction: column;
            }
           
            & li {
                font-size: 17px;
                cursor: pointer;
                border: 1px solid #ededed;
                border-radius: 5px;
                margin: 0 5px;
                @include media(800) {
                    margin: 5px;
                }
                @include media(480) {
                    width: 100%;
                    display: grid;
                    margin: 0;
                }
                &.ui-tabs-active {
                    background: $brown_bg;
                    padding: 0 10px;
                    margin: 0;
                    & a {
                        color: $white; 
                    }
                }
                a {
                    color: $font_color;
                    outline: none;
                    @include media(480) {
                        text-align: center;
                    }
                    .ui-tabs-anchor {
                        color: $white;
                        padding: 4px 18px;
                        @include media(480) {
                            text-align: center;
                        }
                    }
                }     
            }      
        }
        #tabs-1 {
            padding-top: 40px;
            @include media(480) {
                padding-top: 15px;
            }
            & .row {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between; 
                & .projects__item {
                    width: calc(33.3% - 30px);
                    flex-shrink: 0;
                    max-width: 370px;
                    max-height: 340px;
                    margin-bottom: 40px;
                    @include media(800) {
                        width: calc(50% - 30px);
                        margin-bottom: 15px;
                    }
                    @include media(480) {
                        width: 100%;
                    }
                    & .projects__img img{
                        max-width: 370px;
                        max-height: 240px;
                        width: 100%;  
                        height: fit-content;
                        display: block;                          
                    }     
                    & .projects__inner {
                        padding: 30px 30px 20px;
                        background: $gray_bg;
                        position: relative;
                        @include media(800) {
                            padding: 10px 20px 10px;
                        }
                        &:before {
                            content: '';
                            position: absolute;
                            left: 20px;
                            bottom: 100%;
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 0 14px 8px 14px;
                            border-color: transparent transparent $gray_bg transparent;
                        }    
                        & .projects__title {
                            color: $brown;
                            font-size: 20px;
                            font-family: 'Raleway', sans-serif;
                            font-weight: 500;
                            @include media(800) {
                                font-size: 19px;
                            }
                        }
                        & .projects__text {
                            color: #d1d1d1;
                            font-size: 16px;
                            font-family: 'Montserrat', sans-serif;
                        }
                    } 
                    &:hover {
                        background-color: $dark_bg;
                        position: relative;
                        opacity: 1;
                        .projects__img { 
                            opacity: 0.7;
                        }
                        .projects__inner {
                            background-color: $dark_bg;
                            &:before {
                                border-color: transparent transparent $dark_bg transparent;
                            }
                            .projects__title {
                                color: #d1d1d1;
                            }
                            .projects__text {
                                color: $brown;
                            }
                        }   
                    }
                }    
            }
            & .projects__botton {
                display: flex;
                justify-content: center;
                & a {
                    position: absolute;
                    text-align: center;
                    font-size: 13px;
                    text-transform: uppercase;
                    color:$white;
                    padding: 18px 45px;
                    border-radius: 7px;
                    background: $brown_bg;
                    box-shadow: 0px 3px 2px 0px rgba(115, 99, 87, 1);
                }   
            }  
        }
    }
}
